body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #f0f0f0;
  font-family: Arial, sans-serif;
}

.gobang {
  text-align: center;
}

.game-board {
  display: grid;
  grid-template-columns: repeat(15, 1fr);
  grid-gap: 1px;
  margin-top: 20px;
  background-color: #000;
}

.row {
  display: contents;
}

.cell {
  width: 30px;
  height: 30px;
  background-color: #eee;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cell.player1 {
background-image: url('${assetsUrl}/player1.png');
background-size: cover;
}

.cell.player2 {
background-image: url('${assetsUrl}/player2.png');
background-size: cover;
}

.winning-line {
  position: absolute;
  top: 0;
  left: 0;
  width: 600px; /* Adjust width based on board size */
  height: 600px; /* Adjust height based on board size */
  pointer-events: none; /* Prevent line from interfering with clicks */
}

.winning-point {
  position: absolute;
  width: 5px; /* Adjust line width */
  height: 100%;
  background-color: red; /* Adjust line color */
}
